.background {
  background-color: coral;
  opacity: 50%;
  width: 100vw;
  height: 100vw;
  position: absolute;
  top: 0;
  left: auto;
  right: auto;
  z-index: 2;
}

.content {
  position: absolute;
  top: 500px;
  left: 0;
  right: 0;
  z-index: 500;
  font-size: 50px;
}
